.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: .5s;
}

input[type="text"]{
  position: relative;
  background: #6c7a89;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
  color:white;
}

input[type="submit"]{
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #663399;
  color: white;
}

::placeholder{
  color: white;
}

.link{
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%,-50%);
}
